{% load static %}

<footer>
  <div id="bottom">
    <div id="view-mode">
      <div id="view-mode-desktop" data-mode="desktop">
        <i class="typcn typcn-device-desktop"></i> Переключиться на полную
        версию
      </div>
      <div id="view-mode-mobile" data-mode="mobile">
        <i class="typcn typcn-device-tablet"></i> Переключиться на мобильную
        версию
      </div>
      <div id="view-mode-auto" data-mode="">Автоопределение версии</div>
    </div>
    <div id="footer-contact">
      <div id="footer-contact-org">
        <!--TMPL_VAR NAME="footer-contact-org"-->
      </div>
      <div id="footer-contact-phone">
        <!--T1MPL_VAR NAME="footer-contact-phone"-->
        <!--TMPL_LOOP NAME="contacts-phones"-->
        <a href="tel:<!--TMPL_VAR NAME='tel'-->" rel="nofollow"
          ><!--TMPL_VAR NAME='no'--></a
        ><br />
        <!--/TMPL_LOOP-->
      </div>
      <div style="margin-left: 3pt">
        <span style="font-size: 130%">&#9993;</span>
        <span style="vertical-align: 0.2em"
          >email:
          <a
            href="mailto:info@profclimatspb.ru"
            style="text-decoration: none; color: #eee"
            >info@profclimatspb.ru</a
          ></span
        >
      </div>
      <div id="footer-contact-address">
        <!--TMPL_VAR NAME="footer-contact-address"-->
      </div>
    </div>
    <div id="footer-social">
      <a
        id="footer-social-vk"
        href="https://vk.com/club135867292"
        rel="nofollow"
        title="«Профклимат СПб» во ВКонтакте"
      ></a>
      <!--a id="contact-social-vk" href="https://vk.com/profclimatspb" title="«Профклимат СПб» во ВКонтакте"></a-->
      <a
        id="footer-social-twitter"
        href="https://twitter.com/ProfclimatSpb"
        rel="nofollow"
        title="«Профклимат СПб» в Twitter"
      ></a>
      <!--TMPL_IF NAME='viber'-->
      <a
        id="footer-viber"
        href="viber://chat?number=<!--TMPL_VAR NAME='viber'-->"
        rel="nofollow"
        title="Viber"
        ><img src="{% static "/images/viber-b.png" %}" alt="viber"
      /></a>
      <!--/TMPL_IF-->
      <!--TMPL_IF NAME='whatsapp'-->
      <a
        id="footer-whatsapp"
        href="whatsapp://send?phone=<!--TMPL_VAR NAME='whatsapp'-->"
        rel="nofollow"
        title="Whatsapp"
        ><img src="/images/whatsapp-b.png" alt="whatsapp"
      /></a>
      <!--/TMPL_IF-->
    </div>
    <div id="footer-gallery">
      <div>Фотогалереи:</div>
      <a href="/kondicionery/galereya"
        >Различные варианты монтажей кондиционеров</a
      >
    </div>
    <div id="footer-menu">
      <!--TMPL_LOOP NAME="footer-menu"-->
      <a href="<!--TMPL_VAR NAME='href'-->"><!--TMPL_VAR NAME='text'--></a>
      <!--/TMPL_LOOP-->
    </div>
    <div id="copy">
      <a href="https://appfox.ru/" target="_blank"
        >Продвижение сайтов - Appfox.ru</a
      >
      <!--TMPL_VAR NAME="COPY"-->
      <!--TMPL_INCLUDE NAME="../counters.html"-->
    </div>
    <div class="clr"></div>
  </div>
  <div itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="ООО «Профклимат»" />
    <link itemprop="url" href="https://profclimatspb.ru" />
    <link itemprop="image" href="https://profclimatspb.ru/images/logo.jpg" />
    <meta
      itemprop="description"
      content="Продажа, установка и обслуживание климатических систем в Санкт-Петербурге и Ленинградской области."
    />
    <link itemprop="sameAs" href="https://vk.com/club135867292" />
    <link itemprop="sameAs" href="https://twitter.com/ProfclimatSpb" />
    <meta itemprop="telephone" content="+7 812 904-18-98" />
    <meta itemprop="email" content="info@profclimatspb.ru" />
    <div
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress"
    >
      <meta
        itemprop="streetAddress"
        content="Бестужевская улица, дом 10 литер а, помещение 5н к85 л241"
      />
      <meta itemprop="addressLocality" content="Санкт-Петербург" />
      <meta itemprop="postalCode" content="197101" />
    </div>
  </div>
</footer>
<div id="basket">
  <a href="/basket" title="Открыть корзину">
    <!--span class="char-m-ico typcn typcn-shopping-cart"></span-->
    <span id="basket-info">Пусто</span>
  </a>
</div>
<div
  id="_running"
  style="
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  "
>
  <div style="position: absolute; top: 50%; left: 50%; z-index: 9990">
    <img src="{% static "/images/running.gif"%}" alt="Подождите, идет загрузка..." />
  </div>
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background-color: #aaa;
      opacity: 0.5;
    "
  ></div>
</div>
