<div id="header">
  <!--div id="header-title" style="background-color:#4c9ed9;"-->
  <div id="header-title">
    <a href="/" title="На главную">
      <div id="header-title-logo" style="width: 180pt; height: 64pt">
        <!-- img src="/images/ps2.png" alt="ПрофКлимат СПб" style="position: absolute; top:-4pt;left:0pt;height:85pt;opacity: 0.7;font-weight: 800;"-->
        <div
          style="
            position: absolute;
            font-size: 54pt;
            color: #f08080;
            top: -8pt;
            left: 12pt;
          "
          class="typcn typcn-weather-sunny"
        ></div>
        <div
          style="
            position: absolute;
            font-size: 54pt;
            color: #87cefa;
            top: 8pt;
            left: -9pt;
          "
          class="typcn typcn-weather-snow"
        ></div>
        <div
          style="
            position: absolute;
            font-size: 18pt;
            color: #4c9ed9;
            top: 8pt;
            left: 64pt;
            font-family: Geneva, Arial, Helvetica, sans-serif;
            text-align: right;
          "
        >
          ПрофКлимат<br />СПб
        </div>
      </div>
    </a>
    <div id="header-title-title"><!--TMPL_VAR NAME="header-title-title"--></div>
    <div class="clr"></div>
  </div>
  <div id="header-action">
    <!--TMPL_INCLUDE NAME="action-min.html"-->
  </div>
  <div
    id="view-mode"
    data-mode="mobile"
    title="Переключиться к мобильному виду"
  ></div>
  <div id="header-contacts">
    <div>
      <div id="header-contacts-phones">
        <!--TMPL_LOOP NAME="contacts-phones"-->
        <a href="tel:+78005503628" rel="nofollow"
          ><!--TMPL_VAR NAME='no'-->+7 (800) 550-36-28</a
        >
        <a href="tel:+78129041899" rel="nofollow"
          ><!--TMPL_VAR NAME='no'-->+7 (812) 904-18-99</a
        >
        <a href="tel:+79219041899" rel="nofollow"
          ><!--TMPL_VAR NAME='no'-->+7 (921) 904-18-99</a
        >
        <!--/TMPL_LOOP-->
      </div>
      <div id="header-contacts-calls">
        <!--TMPL_IF NAME='viber'-->
        <a
          id="viber"
          href="viber://chat?number=+79219041899"
          rel="nofollow"
          title="Viber"
        ></a>
        <!--/TMPL_IF-->
        <!--TMPL_IF NAME='whatsapp'-->
        <a
          id="whatsapp"
          href="whatsapp://send?phone=+79219041899"
          rel="nofollow"
          title="Whatsapp"
        ></a>
        <!--/TMPL_IF-->
      </div>
    </div>
    <a id="callback" href="/callback">Заказать обратный звонок</a>
  </div>
  <div id="header-schedule">
    <!--TMPL_LOOP NAME="contacts-schedule"-->
    <!--TMPL_IF NAME="to"-->
    <!--TMPL_IF NAME="end"-->
    <div style="margin-top: 0.3em">
      <!--TMPL_VAR NAME="from"-->пн-чт<!--TMPL_VAR NAME="to"-->:&nbsp;<!--TMPL_VAR NAME="begin"-->10:00-20:00<!--TMPL_VAR NAME="end"-->
    </div>
    <!--TMPL_ELSE-->
    <div style="margin-top: 0.3em">
      <!--TMPL_VAR NAME="from"-->пт<!--TMPL_VAR NAME="to"-->:&nbsp;<!--TMPL_VAR NAME="begin"-->11:00-18:30
    </div>
    <!--/TMPL_IF-->
    <!--TMPL_ELSE-->
    <!--TMPL_IF NAME="end"-->
    <div style="margin-top: 0.3em">
      <!--TMPL_VAR NAME="from"-->сб-вс:&nbsp;<!--TMPL_VAR NAME="begin"-->выходной
    </div>
    <!--TMPL_ELSE-->
    <!--/TMPL_IF-->
    <!--/TMPL_IF-->
    <!--/TMPL_LOOP-->
  </div>
  <div id="find">
    <input
      id="find-text"
      type="text"
      maxlength="128"
      placeholder="Поиск по сайту"
    />
    <div id="find-go"></div>
  </div>
  <div id="header-status"></div>
  <div class="clr"></div>
</div>
