<div id="main-intro">
  <div class="main-intro-sect">
    <h2>О компании «Профклимат»</h2>
    <p>
      На рынке Санкт-Петербурга довольно много фирм, которые специализируются на
      <b>продаже</b> и <b>установке кондиционеров</b>. Но найти
      интернет-магазин, в котором можно купить <b><i>кондиционер</i></b> по
      хорошей цене, с качественной установкой и
      <i>увеличенной гарантией</i> гораздо сложнее.
    </p>
    <p>
      «Профклимат» выполняет полный комплекс работ по проектированию, продаже,
      монтажу и обслуживанию систем кондиционирования, вентиляции и отопления
      бытовых и производственных помещений в Санкт-Петербурге.
    </p>
    <p>
      Мы предлагаем большой выбор современного климатическое оборудования с
      богатым спектром функциональных возможностей и широким диапазоном цен.
    </p>
  </div>
  <div class="main-intro-sect">
    <h2>Кондиционирование</h2>
    <p>
      Наша компания является официальным дилером ведущих мировых брендов.
      Климатическое оборудование таких компаний, как
      <b
        ><i
          >Mitsubishi Electric, Mitsubishi Heavy Industries, Daikin, LG,
          Panasonic, Toshiba, Fujitsu, Lessar, Hisense, Tosot, Ballu,
          Electrolux</i
        ></b
      >
      и др. Вы можете приобрести на нашем сайте.
    </p>
    <p>
      Удобная навигация и интеллектуальная система подбора позволят
      самостоятельно выбрать <b>кондиционер</b>, наиболее подходящий именно Вам.
    </p>
    <p>
      <b>Сплит-система</b> или <b>мобильный кондиционер</b> для дома и квартиры,
      <b>кассетный</b> или <b>канальный</b> для офиса и производства,
      <b>напольно-потолочный</b> для магазина. Подбор мощности по площади
      помещения и освещённости, сравнение выбранного оборудования по параметрам
      позволят Вам разобраться в тонкостях различных функций, предлагаемых
      производителями.
    </p>
    <p>
      Также Вы сможете понять, нужен ли вам <b>зимний комплект</b>, какой
      уровень шума является для Вас приемлемым и многое другое, прочитав
      подборку тематических материалов в разделе
      <a href="/pub" class="mlinks">«Статьи»</a> нашего сайта.
    </p>
    <p>
      Если же у Вас нет времени разбираться во всех тонкостях, Вы можете
      позвонить по номеру Компании и проконсультироваться со специалистом. Наши
      сотрудники с радостью помогут Вам в выборе кондиционера и выставят
      необходимое коммерческое предложение.
    </p>
    <p>
      Быстрое оформление заказа, гибкая ценовая политика, сезонные скидки на
      монтаж (например, установка бытовой сплит-системы в квартире стоит от 8100
      рублей). Гарантия на монтажные работы сроком до 5 лет (только на
      кондиционеры, купленные в нашей Компании).
    </p>
    <p>
      Делайте правильный выбор, а мы сделаем всё, чтобы Вы остались довольны. И
      новый кондиционер будет радовать Вас долгие годы.
    </p>
  </div>
  <div class="main-intro-sect">
    <h2>Вентиляция</h2>
    <p>
      Вентиляция — очень широкое понятие, которое включает в себя и простейшую
      естественную вентиляцию на Вашей кухне, и современные приточно-вытяжные
      установки.
    </p>
    <p>
      Современные вентиляционные системы могут выполнять ряд дополнительных
      функций — таких, как очистка, кондиционирование, увлажнение, подогрев
      воздуха.
    </p>
    <p>
      Компания «Профклимат» имеет большой опыт в проектировании и монтаже
      вентиляционных систем любой сложности.
    </p>
    <p>
      Вентиляция проектируется под конкретное помещение и чётко поставленную
      техническую задачу.
    </p>
    <p>
      В каталоге нашей Компании Вы можете найти широкий выбор мини
      вент-установок различной степени функциональности и разных ценовых
      категорий.
    </p>
    <p>Для квартир и частных домов мы предлагаем вам такие услуги, как:</p>
    <ul>
      <li>Врезка вентиляционных клапанов в существующие пластиковые окна.</li>
      <li>Врезка приточных клапанов в стены</li>
      <li>Монтаж приточно-вытяжных установок с рекуперацией тепла.</li>
      <li>Монтаж рекуператоров.</li>
      <li>Монтаж бриззеров.</li>
    </ul>
    <p>
      Также у нас можно купить <b>модульную вентиляцию</b> и
      <b>компоненты вентиляционных систем</b>,
      <b>вентиляторы бытовые и промышленные</b>,
      <b>клапаны регулирующие и противопожарные</b>, <b>датчики</b> и
      <b>термостаты</b>, <b>частотные преобразователи</b> и
      <b>устройства плавного пуска</b>.
    </p>
  </div>
  <div class="main-intro-sect">
    <h2>Тепловое оборудование</h2>
    <p>
      Компания Профклимат представляет тепловое оборудование таких хорошо
      зарекомендовавших себя производителей, как
      <b>De Dietrich, Electrolux, Royal Thermo, Zanussi, Noirot</b> различных
      типов.
    </p>
    <p>
      <b>Водяные</b> и <b>электрические тёплые полы</b>,
      <b>тепловые завесы</b> и <b>пушки</b>, <b>масляные</b> и
      <b>инфракрасные радиаторы</b>, <b>электрические камины</b> и
      <b>конвекторы</b> различных типов.
    </p>
    <p>
      <b>Твёрдотопливные</b> и <b>газовые котлы</b>, <b>радиаторы отопления</b>,
      <b>проточные водонагреватели</b>, <b>бойлеры прямого</b> и
      <b>косвенного нагрева</b>.
    </p>
    <p>Расходные материалы и инженерная сантехника.</p>
    <p>
      Всё это и многое другое мы предложим Вам по хорошей цене. Наши специалисты
      бесплатно привезут оборудование в пределах Санкт-Петербурга и качественно
      смонтируют его в Вашей квартире или в частном доме.
    </p>
    <p>
      На оборудование предоставляется гарантия, также мы производим
      постгарантийное облуживание.
    </p>
    <p>
      Укладка водяного тёплого пола, монтаж газового оборудования. Такие работы
      стоит доверять только профессионалам — нашим сертифицированным
      специалистам.
    </p>
  </div>
</div>
