{% load nav_tags %}

<nav id="navbar" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
  <div class="navbar-item" itemprop="name">
    <a href="/" itemprop="url" class="navbar-item-current" title="">Главная</a>
  </div>
  <div class="navbar-item" itemprop="name">
    <a href="/kondicionery" itemprop="url" title="">Кондиционеры</a>
    <div class="navbar-sublist-show">
      <div class="navbar-sublist">
        {% tag_categories as categories %}
        {% for el in categories %}
        <div class="navbar-subitem" itemprop="name">
          <a href="{% url "kondicionery:subitem" el.slug %}" itemprop="url" title="">{{el.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="navbar-item" itemprop="name">
    <a href="/obogrevateli" itemprop="url" title="">Обогреватели</a>
    <div class="navbar-sublist-show">
      <div class="navbar-sublist">
        {% tag_categories_heat as categories %}
        {% for el in categories %}
        <div class="navbar-subitem" itemprop="name">
          <a href="/obogrevateli/{{el.slug}}" itemprop="url" title="">{{el.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="navbar-item" itemprop="name">
    <a href="/ventilyaciya" itemprop="url" title="">Вентиляция</a>
    <div class="navbar-sublist-show">
      <div class="navbar-sublist">
        {% tag_categories_vent as categories %}
        {% for el in categories %}
          <div class="navbar-subitem" itemprop="name">
            <a href="/ventilyaciya/{{el.slug}}" itemprop="url" title="">{{el.name}}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% tag_categories_nav as navbar %}
  {% for el in navbar %}
  <div class="navbar-item" itemprop="name">
    <a href="/{{el.slug}}" itemprop="url" title="">{{el.name}}</a>
  </div>
  {% endfor %}
  <div class="clr"></div>
</nav>
