{% load nav_tags %}

<nav id="navbar">
  <div class="navbar-item">
    <a href="/" class="navbar-item-current">Главная</a>
  </div>
  <div class="navbar-item" itemprop="name">
    <a href="{% url "kondicionery:kondicionery" %}" class="navbar-item-current">Кондиционеры</a>
    <div class="navbar-sublist-show">
      <div class="navbar-sublist">
        {% tag_categories as categories %}
        {% for el in categories %}
        <div class="navbar-subitem" itemprop="name">
          <a href="{% url "kondicionery:subitem" el.slug %}" itemprop="url" title="">{{el.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="navbar-item" itemprop="name">
    <a href="{% url "obogrevateli:obogrevateli" %}" itemprop="url" title="">Обогреватели</a>
    <div class="navbar-sublist-show">
      <div class="navbar-sublist">
        {% tag_categories_heat as categories %}
        {% for el in categories %}
        <div class="navbar-subitem" itemprop="name">
          <a href="{% url "obogrevateli:subitem" el.slug %}" itemprop="url" title="">{{el.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="navbar-item" itemprop="name">
    <a href="{% url "ventilyacia:ventilyacia" %}" itemprop="url" title="">Вентиляция</a>
    <div class="navbar-sublist-show">
      <div class="navbar-sublist">
        {% tag_categories_vent as categories %}
        {% for el in categories %}
          <div class="navbar-subitem" itemprop="name">
            <a href="/ventilyaciya/{{el.slug}}" itemprop="url" title="">{{el.name}}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% tag_categories_nav as navbar %}
  {% for el in navbar %}
  <div class="navbar-item" itemprop="name">
    <a href="{% url "main:nav" el.slug %}" itemprop="url" title="">{{el.name}}</a>
  </div>
  {% endfor %}
  <div class="clr"></div>
</nav>
