{% extends "main/base.html" %} {% load static %} {% block workarea %}
<div id="mount" class="workarea">
  <h1 itemprop="headline">
    Доставка по Санкт-Петербургу и Ленинградской области
  </h1>
  <div
    id="navbar-path"
    itemscope=""
    itemtype="http://schema.org/BreadcrumbList"
  >
    <span
      itemprop="itemListElement"
      itemscope=""
      itemtype="http://schema.org/ListItem"
      ><a class="breadcrumbs" itemprop="item" href="{% url "main:home" %}"
        ><span itemprop="name">Главная</span></a
      ><meta itemprop="position" content="1" /></span
    ><span class="breadcrumbs_sep"></span
    ><span
      itemprop="itemListElement"
      itemscope=""
      itemtype="http://schema.org/ListItem"
      ><a class="breadcrumbs" itemprop="item" href="{% url "main:dostavka" %}"
        ><span itemprop="name">Доставка</span></a
      ><meta itemprop="position" content="2"
    /></span>
  </div>
  <main>
    <div style="margin: 0.5em 0.5em; max-width: 80em; font-size: 95%">
      <h2>
        Доставка по Санкт-Петербургу и Ленинградской области при оплате за
        наличный расчёт:
      </h2>
      <ol>
        <li>
          При оплате наличными доставка товара осуществляется в течение 3-х
          рабочих дней.
        </li>
        <li>Время осуществления доставки — с 10:00 до 18:00.</li>
        <li>
          Доставка по Ленинградской области 650 руб. + 30 руб./км за пределами
          КАД.
        </li>
        <li>Доставка товара осуществляется до подъезда.</li>
        <li>
          Подъём оборудования на этаж оплачивается отдельно и заранее
          cогласовывается.
        </li>
        <li>Оплата товара производится на месте при получении товара.</li>
        <li>При получении оплаты Вам передаются все необходимые документы.</li>
      </ol>
      <h2>
        Доставка по Санкт-Петербургу и Ленинградской области при оплате по
        безналичному расчёту:
      </h2>
      <ol>
        <li>
          При оплате по безналичному расчёту доставка товара осуществляется в
          течение 3-х рабочих дней после поступления средств на расчётный счёт,
          при этом Вам необходимо заранее согласовать время и адрес доставки.
        </li>
        <li>
          Доставка по Ленинградсклй области 650 руб. + 30 руб./км за пределами
          КАД.
        </li>
        <li>Доставка товара осуществляется до подъезда.</li>
        <li>
          Подъем товара на этаж оплачивается отдельно и заранее согласовывается.
        </li>
        <li>В момент доставки Вам передаются все необходимые документы.</li>
      </ol>
      <p>
        Подробную консультацию Вы можете получить по тел. +7 (800) 550-36-28, +7
        (921) 904-18-99, +7 (812) 904-18-99. или по электронной почте
        info@profclimatspb.ru
      </p>
    </div>
  </main>
</div>
{% endblock %}
