{% extends "main/base.html" %} {% load static %}
{% block title %}
<title>{{ category.title }}</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/units.5.css" %}"> 
<link rel="stylesheet"href="{% static "css/units-tile.5.css" %}"> 
<link rel="stylesheet" href="{% static "css/cunits.5.css" %}"> 
{% endblock  %}
{% block workarea %}
<div id="units" class="workarea">
  <div id="units-content">
    <div id="units-toolbar">
        <div style="float: left">
            {% include "blocks/cunits_toolbar_left.html" %}
        </div>
        <div style="float: right">
            {% include "blocks/cunits_toolbar_right.html" %}
        </div>
    </div>
    <table id="cunits">
      <tbody>
        <tr>
            <td id="cunits-filter">
              {% include "blocks/cunits_filter.html" %}
            </td>
            <td id="_cunits-list">
            <div id="cunits-header">
                {{category.description | safe}}
            </div>
            <div id="cunits-footer">
              {% include "blocks/cunits-footer.html" %}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock workarea %}
{% block scripts %}
<script src="{% static "/js/libs/jquery/jquery.js" %}"></script>
<script src="{% static "/js/libs/jqueryui/jquery-ui.js" %}"></script>
<script src="{% static "/js/libs/date.format.js" %}"></script>
<script src="{% static "/js/libs/jstorage.js" %}"></script>
<script src="{% static "/js/libs/jquery.url.js" %}"></script>
<script src="{% static "/js/nCONSOLE.js" %}"></script>
<script src="{% static "/js/extlib.js" %}"></script>
<script src="{% static "/js/nCFG.js" %}"></script>
<script src="{% static "/js/nSITE.js" %}"></script>
<script src="{% static "/js/nCOMMON.js" %}"></script>
<script src="{% static "/js/nAJAX.js" %}"></script>
<script src="{% static "/js/nPOPUPMENU.2.js" %}"></script>
<script src="{% static "/js/nFIND.js" %}"></script>
<script src="{% static "/js/nHEADER.js" %}"></script>
<script src="{% static "/js/nUSER.1.js" %}"></script>
<script src="{% static "/js/nConditioners.3.js" %}"></script>
{% endblock  %}