{% load static %}

<div id="cunits-recipe">
  <a class="recipe" href="/kondicionery/dlya-kvartiry">
    <img src="{% static "/images/recipe/01kvart.png" %}" alt="Для квартиры" />
    <h3>Для квартиры</h3>
  </a>
  <a class="recipe" href="/kondicionery/dlya-doma-dachi-kottedzha">
    <img src="{% static "/images/recipe/01dom.png" %}" alt="Для дома, дачи,
    коттеджа" />
    <h3>Для дома, дачи, коттеджа</h3>
  </a>
  <a class="recipe" href="/kondicionery/dlya-kafe-magazina">
    <img src="{% static "/images/recipe/01kafe.png" %}" alt="Для кафе, магазина"
    />
    <h3>Для кафе, магазина</h3>
  </a>
  <a class="recipe" href="/kondicionery/dlya-ofisa">
    <img src="{% static "/images/recipe/01office.png" %}" alt="Для офиса" />
    <h3>Для офиса</h3>
  </a>
  <a class="recipe" href="/kondicionery/dlya-proizvodstvennyh-pomeshchenij ">
    <img src="{% static "/images/recipe/01prod.png" %}" alt="Для
    производственных помещений" />
    <h3>Для производственных помещений</h3>
  </a>
  <a class="recipe" href="/kondicionery/dlya-servernyh">
    <img src="{% static "/images/recipe/01serv.png" %}" alt="Для серверных" />
    <h3>Для серверных</h3>
  </a>
  <div class="clr"></div>
</div>
