<fieldset>
  <legend>Фильтр</legend>

  <div style="margin-top: 0.2em"></div>
  <div id="units-filter-price" class="filter-box">
    Цена (руб): от от
    <input
      id="units-filter-price-min"
      type="number"
      min="4500"
      max="4600"
      value="0"
      step="any"
    />
    до
    <input
      id="units-filter-price-max"
      type="number"
      min="4500"
      max="4600"
      value="300000"
      step="any"
    />
    <div
      id="units-filter-price-slider"
      style="margin: 0.5em"
      class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
      aria-disabled="false"
    >
      <div
        style="width: 0%"
        class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
      ></div>
      <a
        style="left: 0%"
        class="ui-slider-handle ui-state-default ui-corner-all"
        href="#"
      ></a>
      <div
        class="ui-slider-range ui-widget-header ui-corner-all"
        style="left: 0%; width: 100%"
      ></div>
      <a
        class="ui-slider-handle ui-state-default ui-corner-all"
        href="#"
        style="left: 100%"
      ></a>
    </div>
  </div>
  <div id="units-filter-cmd">
    <div
      class="units-filter-btn"
      id="units-filter-use"
      title="Применить условия отбора"
    >
      <span class="typcn typcn-arrow-forward"></span> Применить
    </div>
    <div
      class="units-filter-btn"
      id="units-filter-clear"
      title="Сбросить условия отбора"
    >
      <span class="typcn typcn-arrow-back"></span> Сбросить
    </div>
  </div>
  <div id="units-filter-opts" class="filter-box"></div>
</fieldset>
