<p>Наши преимущества:</p>
<ul>
  <li>
    Компания «ПрофКлимат СПб» является официальным дилером ведущих мировых
    брэндов.
  </li>
  <li>
    У нас вы можете купить оборудование по честной цене, с качественной
    установкой и увеличенной гарантией.
  </li>
  <li>Быстрое оформление заказа, гибкая ценовая политика, скидки на монтаж.</li>
  <li>
    Наиболее ответственные работы выполнят сертифицированные специалисты,
    имеющие все необходимые документы.
  </li>
</ul>
<p>
  Также в нашей компании вы можете купить
  <a href="/obogrevateli/konvektor">конвекторы</a>,
  <a href="/obogrevateli/teploventilyator">тепловентиляторы</a>,
  <a href="/ventilyaciya/vozduxovody/gibkie">гибкие воздуховоды</a>.
</p>