
  <fieldset>
    <legend>Фильтр</legend>

    <div class="filter-box">
      Производители:
      <span
        id="cunits-filter-manufacturer-pop"
        class="filter-box-bottom filter-box-bottom-press"
        >популярные</span
      >
      |
      <span id="cunits-filter-manufacturer-all" class="filter-box-bottom"
        >все</span
      >
      <div id="cunits-filter-manufacturer">
        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Ballu"
          />
          <span class="checkbox__label" data-count="11">Ballu</span>
          <sup>11</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Carrier"
          />
          <span class="checkbox__label" data-count="1">Carrier</span>
          <sup>1</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Casarte"
          />
          <span class="checkbox__label" data-count="15">Casarte</span>
          <sup>15</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Cooper&amp;Hunter"
          />
          <span class="checkbox__label" data-count="59">Cooper&amp;Hunter</span>
          <sup>59</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Daikin"
          />
          <span class="checkbox__label" data-count="67">Daikin</span>
          <sup>67</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Electrolux"
          />
          <span class="checkbox__label" data-count="40">Electrolux</span>
          <sup>40</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Energolux"
          />
          <span class="checkbox__label" data-count="44">Energolux</span>
          <sup>44</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Fujitsu"
          />
          <span class="checkbox__label" data-count="11">Fujitsu</span>
          <sup>11</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="GREE"
          />
          <span class="checkbox__label" data-count="60">GREE</span>
          <sup>60</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="HEC"
          />
          <span class="checkbox__label" data-count="10">HEC</span>
          <sup>10</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Haier"
          />
          <span class="checkbox__label" data-count="74">Haier</span>
          <sup>74</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Hisense"
          />
          <span class="checkbox__label" data-count="65">Hisense</span>
          <sup>65</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Hitachi"
          />
          <span class="checkbox__label" data-count="3">Hitachi</span>
          <sup>3</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Kentatsu"
          />
          <span class="checkbox__label" data-count="34">Kentatsu</span>
          <sup>34</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Lessar"
          />
          <span class="checkbox__label" data-count="30">Lessar</span>
          <sup>30</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Midea"
          />
          <span class="checkbox__label" data-count="20">Midea</span>
          <sup>20</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Mitsubishi Electric"
          />
          <span class="checkbox__label" data-count="42"
            >Mitsubishi Electric</span
          >
          <sup>42</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Panasonic"
          />
          <span class="checkbox__label" data-count="32">Panasonic</span>
          <sup>32</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="QuattroClima"
          />
          <span class="checkbox__label" data-count="33">QuattroClima</span>
          <sup>33</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="TCL"
          />
          <span class="checkbox__label" data-count="56">TCL</span>
          <sup>56</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="TOSOT"
          />
          <span class="checkbox__label" data-count="32">TOSOT</span>
          <sup>32</sup>
        </label>

        <label class="filter-item" data-pop="1">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="Toshiba"
          />
          <span class="checkbox__label" data-count="25">Toshiba</span>
          <sup>25</sup>
        </label>

        <label class="filter-item" data-pop="0" style="display: none">
          <input
            type="checkbox"
            class="checkbox__input"
            name="filter-manufacturer"
            value="VETERO"
          />
          <span class="checkbox__label" data-count="11">VETERO</span>
          <sup>11</sup>
        </label>
      </div>
    </div>

    <div id="cunits-filter-work_mode" class="filter-box">
      Режим работы:
      <label class="filter-item">
        <input
          id="cunits-filter-work_mode1"
          type="checkbox"
          name="filter-work_mode"
          value="1"
        />
        охлаждение <sup>0</sup>
      </label>
      <label class="filter-item">
        <input
          id="cunits-filter-work_mode2"
          type="checkbox"
          name="filter-work_mode"
          value="2"
        />
        охлаждение и обогрев <sup>0</sup>
      </label>
    </div>

    <div id="cunits-filter-inv" class="filter-box">
      Компрессор:
      <label class="filter-item">
        <input
          id="cunits-filter-inv1"
          type="checkbox"
          name="filter-inv"
          value="1"
        />
        инверторный <sup>443</sup>
      </label>
      <label class="filter-item">
        <input
          id="cunits-filter-inv2"
          type="checkbox"
          name="filter-inv"
          value="0"
        />
        «on/off» <sup>332</sup>
      </label>
    </div>

    <div id="cunits-filter-hpump" class="filter-box">
      Работа в режиме теплового насоса:
      <label class="filter-item">
        <input
          id="cunits-filter-hpump0"
          name="filter-hpump"
          type="radio"
          value="0"
          checked="checked"
        />
        Не важно
      </label>
      <label class="filter-item">
        <input
          id="cunits-filter-hpump1"
          name="filter-hpump"
          type="radio"
          value="1"
        />
        Да
      </label>
      <label class="filter-item">
        <input
          id="cunits-filter-hpump2"
          name="filter-hpump"
          type="radio"
          value="2"
        />
        Нет
      </label>
    </div>

    <div class="filter-box">
      Тип:
      <div id="cunits-filter-btype">
        <div>
          <label class="filter-item">
            <input
              id="filter-btype1"
              type="checkbox"
              name="filter-btype"
              value="канальный"
            />
            канальный <sup>15</sup>
          </label>
        </div>
        <div>
          <label class="filter-item">
            <input
              id="filter-btype2"
              type="checkbox"
              name="filter-btype"
              value="кассетный"
            />
            кассетный <sup>101</sup>
          </label>
        </div>
        <div>
          <label class="filter-item">
            <input
              id="filter-btype3"
              type="checkbox"
              name="filter-btype"
              value="колонный"
            />
            колонный <sup>8</sup>
          </label>
        </div>
        <div>
          <label class="filter-item">
            <input
              id="filter-btype4"
              type="checkbox"
              name="filter-btype"
              value="напольно-потолочный"
            />
            напольно-потолочный <sup>88</sup>
          </label>
        </div>
        <div>
          <label class="filter-item">
            <input
              id="filter-btype5"
              type="checkbox"
              name="filter-btype"
              value="настенный"
            />
            настенный <sup>563</sup>
          </label>
        </div>
      </div>
    </div>

    <div class="filter-box">
      Цвет:
      <div id="cunits-filter-colors">
        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="бежевый металик" />
          бежевый металик<sup>1</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="белый" />
          белый<sup>679</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="золотистый" />
          золотистый<sup>22</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="золотой" />
          золотой<sup>4</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="красный" />
          красный<sup>2</sup>
        </label>

        <label class="filter-item">
          <input
            type="checkbox"
            name="filter-color"
            value="перламутровый белый"
          />
          перламутровый белый<sup>4</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="рубиново-красный" />
          рубиново-красный<sup>4</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="серебристый" />
          серебристый<sup>5</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="серебряный" />
          серебряный<sup>1</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="серый" />
          серый<sup>7</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="серый космос" />
          серый космос<sup>4</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="синий" />
          синий<sup>2</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="черный" />
          черный<sup>36</sup>
        </label>

        <label class="filter-item">
          <input type="checkbox" name="filter-color" value="черный оникс" />
          черный оникс<sup>4</sup>
        </label>
      </div>
    </div>
    <div style="margin-top: 0.2em"></div>
    <div id="cunits-filter-price" class="filter-box">
      Цена (руб):<br />
      от
      <input
        id="cunits-filter-price-min"
        type="number"
        class="num2"
        min="18500"
        max="519300"
        value="0"
        step="1"
        data-step="100"
        style="width: 7em"
      />
      до
      <input
        id="cunits-filter-price-max"
        type="number"
        class="num2"
        min="18500"
        max="519300"
        value="300000"
        step="1"
        data-step="100"
        style="width: 7em"
      />
      <div
        id="cunits-filter-price-slider"
        style="margin: 0.5em"
        class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
        aria-disabled="false"
      >
        <div
          style="width: 0%"
          class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
        ></div>
        <a
          style="left: 0%"
          class="ui-slider-handle ui-state-default ui-corner-all"
          href="#"
        ></a>
        <div
          class="ui-slider-range ui-widget-header ui-corner-all"
          style="left: 0%; width: 100%"
        ></div>
        <a
          class="ui-slider-handle ui-state-default ui-corner-all"
          href="#"
          style="left: 100%"
        ></a>
      </div>
    </div>
    <div
      id="cunits-filter-service_area"
      class="filter-box"
      style="display: none"
    >
      Обслуживаемая площадь (м²):<br />
      от
      <input
        type="number"
        id="cunits-filter-service_area-min"
        min="0"
        max="500"
        value="0"
        step="0.5"
        class="number"
      />
      до
      <input
        type="number"
        id="cunits-filter-service_area-max"
        min="0"
        max="500"
        value="25"
        step="0.5"
        class="number"
      />
      <div
        id="cunits-filter-service_area-slider"
        style="margin: 0.5em"
        class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
      >
        <div
          style="width: 0%"
          class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
        ></div>
        <a
          style="left: 0%"
          class="ui-slider-handle ui-state-default ui-corner-all"
          href="#"
        ></a>
      </div>
    </div>
    <div id="cunits-filter-noise_level" class="filter-box hide">
      Уровень шума (дБ):
      <div>
        минимальный от
        <input
          id="cunits-filter-noise_level-min1"
          type="number"
          min="0"
          max="65"
          value="0"
          step="0.5"
          class="number"
          style="width: 3em"
        />
        до
        <input
          id="cunits-filter-noise_level-min2"
          type="number"
          min="0"
          max="65"
          value="40"
          step="0.5"
          class="number"
          style="width: 3em"
        />
        <div
          id="cunits-filter-noise_level-min-slider"
          style="margin: 0.5em"
          class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
        >
          <div
            style="width: 0%"
            class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
          ></div>
          <a
            style="left: 0%"
            class="ui-slider-handle ui-state-default ui-corner-all"
            href="#"
          ></a>
        </div>
      </div>
      <div>
        максимальный от
        <input
          id="cunits-filter-noise_level-max1"
          type="number"
          min="0"
          max="65"
          value="0"
          step="0.5"
          class="number"
          style="width: 3em"
        />
        до
        <input
          id="cunits-filter-noise_level-max2"
          type="number"
          min="0"
          max="65"
          value="40"
          step="0.5"
          class="number"
          style="width: 3em"
        />
        <div
          id="cunits-filter-noise_level-max-slider"
          style="margin: 0.5em"
          class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
        >
          <div
            style="width: 0%"
            class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
          ></div>
          <a
            style="left: 0%"
            class="ui-slider-handle ui-state-default ui-corner-all"
            href="#"
          ></a>
        </div>
      </div>
    </div>
    <div class="filter-box">
      Мощность (КВт):
      <div id="cunits-filter-power_cooling">
        при охлаждении от
        <input
          id="cunits-filter-power_cooling-min"
          type="number"
          min="1.3"
          max="28.1"
          value="0"
          step="0.1"
          class="number"
          style="width: 4em"
        />
        до
        <input
          id="cunits-filter-power_cooling-max"
          type="number"
          min="1.3"
          max="28.1"
          value="5"
          step="0.1"
          class="number"
          style="width: 4em"
        />
        <div
          id="cunits-filter-power_cooling-slider"
          style="margin: 0.5em"
          class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
          aria-disabled="false"
        >
          <div
            style="width: 0%"
            class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
          ></div>
          <a
            style="left: 0%"
            class="ui-slider-handle ui-state-default ui-corner-all"
            href="#"
          ></a>
          <div
            class="ui-slider-range ui-widget-header ui-corner-all"
            style="left: 0%; width: 100%"
          ></div>
          <a
            class="ui-slider-handle ui-state-default ui-corner-all"
            href="#"
            style="left: 100%"
          ></a>
        </div>
      </div>
      <div id="cunits-filter-power_heating">
        при обогреве от
        <input
          id="cunits-filter-power_heating-min"
          type="number"
          min="0"
          max="31.1"
          value="0"
          step="0.1"
          class="number"
          style="width: 4em"
        />
        до
        <input
          id="cunits-filter-power_heating-max"
          type="number"
          min="0"
          max="31.1"
          value="5"
          step="0.1"
          class="number"
          style="width: 4em"
        />
        <div
          id="cunits-filter-power_heating-slider"
          style="margin: 0.5em"
          class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
          aria-disabled="false"
        >
          <div
            style="width: 0%"
            class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
          ></div>
          <a
            style="left: 0%"
            class="ui-slider-handle ui-state-default ui-corner-all"
            href="#"
          ></a>
          <div
            class="ui-slider-range ui-widget-header ui-corner-all"
            style="left: 0%; width: 100%"
          ></div>
          <a
            class="ui-slider-handle ui-state-default ui-corner-all"
            href="#"
            style="left: 100%"
          ></a>
        </div>
      </div>
    </div>
    <div id="cunits-filter-cmd">
      <div
        class="cunits-filter-btn"
        id="cunits-filter-use"
        title="Применить условия отбора"
      >
        <span class="typcn typcn-arrow-forward"></span> Применить
      </div>
      <div
        class="cunits-filter-btn"
        id="cunits-filter-clear"
        title="Сбросить условия отбора"
      >
        <span class="typcn typcn-arrow-back"></span> Сбросить
      </div>
    </div>
    <div style="margin-top: 0.2em"></div>
    <div id="cunits-filter-opts" class="filter-box hide"></div>
    <!-- div>
        <a href="#cunits-filter-other">Ещё</a>
        <div id="cunits-filter-other">
            <div id="cunits-filter-other-max_len">
                Максимальная длина коммуникаций
            </div>
            <div id="cunits-filter-other-temp_support_min">
                Мин. поддерживаемая температура
            </div>
            <div id="cunits-filter-other-temp_support_max">
                Макс.поддерживаемая температура
            </div>
            <div id="cunits-filter-other-temp_work_cooling_min">
                Мин. допустимая температура для эксплуатации кондиционера в режиме охлаждения
            </div>
            <div id="cunits-filter-other-temp_work_heating_min">
                Мин. допустимая температура для эксплуатации кондиционера в режиме обогрева
            </div>
            <div id="cunits-filter-other-refrigerant">
                Тип хладагента
            </div>
            <div id="cunits-filter-other-phase">
                Фаза
            </div>
        </div>
    </div-->
  </fieldset>
  <br />
  <div class="filter-box">
    Производители:
    <span
      id="cunits-refs-manufacturer-pop"
      class="filter-box-bottom filter-box-bottom-press"
      >популярные</span
    >
    |
    <span id="cunits-refs-manufacturer-all" class="filter-box-bottom">все</span>
    <div id="cunits-refs-manufacturer">
      <a href="/kondicionery/ballu" data-pop="0" style="display: none">Ballu</a
      ><a href="/kondicionery/casarte" data-pop="1">Casarte</a
      ><a href="/kondicionery/cooperhunter" data-pop="0" style="display: none"
        >Cooper&amp;Hunter</a
      ><a href="/kondicionery/daikin" data-pop="0" style="display: none"
        >Daikin</a
      ><a href="/kondicionery/electrolux" data-pop="0" style="display: none"
        >Electrolux</a
      ><a href="/kondicionery/energolux" data-pop="0" style="display: none"
        >Energolux</a
      ><a href="/kondicionery/fujitsu" data-pop="1">Fujitsu</a
      ><a href="/kondicionery/gree" data-pop="1">GREE</a
      ><a href="/kondicionery/hec" data-pop="0" style="display: none">HEC</a
      ><a href="/kondicionery/haier" data-pop="1">Haier</a
      ><a href="/kondicionery/hisense" data-pop="0" style="display: none"
        >Hisense</a
      ><a href="/kondicionery/hitachi" data-pop="0" style="display: none"
        >Hitachi</a
      ><a href="/kondicionery/kentatsu" data-pop="0" style="display: none"
        >Kentatsu</a
      ><a href="/kondicionery/lessar" data-pop="1">Lessar</a
      ><a href="/kondicionery/midea" data-pop="1">Midea</a
      ><a href="/kondicionery/mitsubishi-electric" data-pop="1"
        >Mitsubishi Electric</a
      ><a href="/kondicionery/panasonic" data-pop="1">Panasonic</a
      ><a href="/kondicionery/quattroclima" data-pop="0" style="display: none"
        >QuattroClima</a
      ><a href="/kondicionery/tcl" data-pop="0" style="display: none">TCL</a
      ><a href="/kondicionery/tosot" data-pop="0" style="display: none">TOSOT</a
      ><a href="/kondicionery/toshiba" data-pop="1">Toshiba</a
      ><a href="/kondicionery/vetero" data-pop="0" style="display: none"
        >VETERO</a
      >
    </div>
  </div>
